.ui.card .meta.authors,
.ui.cards>.card .meta.authors {
  color: rgba(0,0,0,1.0);
}

.ui.card .meta.publisher,
.ui.cards>.card .meta.publisher {
  font-variant: small-caps;
}

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #28a745;
}

.ui.modal>.content>.icon+.description,
.ui.modal>.content>.image+.description {
  width: 200%;
}
